/* .books {
  justify-content: center;
  width: 100vw;
  background-color: #efefef;
  /* display: flex; */
/* flex-direction: column; */
/* flex-wrap: wrap; */
/* } */

/* .books .mybtn:hover {
  background-color: #555555;
} */

.bookHeader {
  display: flex;
  justify-content: space-evenly;
  height: 5rem;
  width: 480px;
  padding: 50px;
}
.bookHeader .btn {
  max-width: 50%;
  margin: 0;
}
