* {
  margin: 0;
  padding: 0;
  background-color: rgb(18, 18, 20);
  font-family: Roboto, sans-serif;
  color: rgb(204, 204, 204);
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
input {
  margin: 0;
  padding: 0;
  background-color: rgb(18, 18, 20);
  box-shadow: 0;
  border: 0 none;
  outline: 0;
}
button{
  margin: 0;
  padding: 0;
  border: none;
}

.app {
  display: flex;
  justify-content: center;
}

label {
  width: 5em;
}
